{% extends 'base.html.twig' %}

{% block title %}Accueil - FindUrJob{% endblock %}

{% block body %}

<div class="container">
    <div class="block">
        <p>{{appliesPercent}}%</p>
        <p>objectif de la semaine : {{target}}</p>
    </div>
</div>
{% endblock %}
