{% extends 'base.html.twig' %}

{% block title %}Accueil - FindUrJob{% endblock %}

{% block body %}

<div class="container">
    <div class="block">
        <p>{{appliesPercent}}%</p>
        <p>objectif de la semaine : {{target}}</p>
    </div>
    <div class="block">
    {% for apply in applies|slice(0, 5) %}
        <div class="apply-card">
            <p>{{apply.company.name}}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
