* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6e5de;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 4em;
  text-align: center;
}

#add-apply {
  position: fixed;
  right: 2em;
  bottom: 2em;
}
